<div class="panel panel-default" ng-init='getUsers()'>
        <div class="panel-heading">
            <h4 class="panel-title">Users who already Voted</h4>
        </div>
        <div class="panel-body">
                
                    <div ng-repeat="user in users.data">
                        <div>
                             <ul><li>
                                <div><span>{{user.name}}</span><a href="#/users/details/{{user._id}}" class="btn btn-xs btn-secondary">View</a></div></li>
                            </ul>  
                        </div>   
                    </div>    
        </div>
</div>