
<div ng-init="getUser()">
        <div >
            <h4 class="cover-heading">User Details</h4>
        </div>
        <br>
        <div class="lead">
         
             
                  <div class ="row">
                      <div class="col-md-12">
                        <h6>Name:{{user.name}}</h6>                       
                      </div>
                      <div class="col-md-12">
                        <h6>Email: {{user.email}}</h6>                       
                      </div>
                      <div class="col-md-12">
                        <h6>Vote:{{user.VotedFor}}</h6>                       
                      </div>
                      
                    </div> 
             <br><br>
              <div >
                  <a href="#/users/edit/{{user._id}}">Edit</a> |  <a href="#" ng-click="removeUser(user._id)">Delete</a>  |  <a href="#/users">Back</a>
              </div>
            
        </div>
</div>