<a href="#/books">Back</a>
<div class="panel panel-default" ng-init="getUser()">
        <div class="panel-heading">
            <h4 class="panel-title">User Details</h4>
        </div>
        <div class="panel-body">
          <div class="row">
              <div>
                  <div class ="col-md-12">
                      <div class="col-md-4">
                        <h4>Name:{{user.name}}</h4>                       
                      </div>
                      <div class="col-md-4">
                        <h4>Email: {{user.email}}</h4>                       
                      </div>
                      <div class="col-md-4">
                        <h4>Vote:{{user.VotedFor}}</h4>                       
                      </div>
                      
                  </div>
              </div>
              <div class="pull-right">
                  <a href="#/users/edit/{{user._id}}">Edit</a> |  <a href="#" ng-click="removeUser(user._id)">Delete</a>
              </div>
          </div>    
        </div>
</div>