<div  ng-init='getVote()'>
        <div >
            <h4 >Vote Received</h4>
        </div>
        <br>
       
            <table>
                    <tr>
                            <th><div>Snack</div></th>
                            <th><div>Vote</div></th>
                           
                          </tr>
                <tr>
                <td>
                       
                    <div  ng-repeat="user in users">                     
                                 {{user}}                       
                    </div> </td>  
                   <td>  
                    <div  ng-repeat="vote in status track by $index">                     
                                {{vote}}                          
                    </div> 
                </td></tr>     
        </table>
    
</div>